* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animations__Container {
  width: 100vw;
  height: auto;
}

.animations__DecSpeed {
  position: absolute;
  top: 10%;
  z-index: 5;
}

.animations__Clouds {
  /* width: 100px; */
  position: absolute;
  /* left: 2%; */
}

/* .animations__background{

} */

.animations__Skybg > img {
  width: 100vw;
  height: 85vh;
}

.animations__Earthbg > img {
  width: 100vw;
  height: 15vh;
  bottom: 0;
}

.animations__bgRook {
  position: absolute;
  left: 80%;
  top: 59%;
}

.animations__bgbush {
  position: absolute;
  top: 80%;
  left: 10%;
}

.animations__fgpalm {
  position: absolute;
  top: 27%;
  left: 50%;
  z-index: 5;
}

.animations__wrapper {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 30%;
  width: 478px;
  height: 435px;
  /* border: 2px solid red; */
  overflow: hidden;
}

.animations__aliceAndQueen {
  position: absolute;
  z-index: 1;
  width: 105%;
}
