* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animations__Container {
  width: 100%;
}

.animations__Skybg > img {
  width: 100vw;
  height: 85vh;
}

.animations__Earthbg > img {
  width: 100vw;
  height: 15vh;
  position: fixed;
  bottom: 0;
}
